.authBlock {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 3px 9px 0 rgb(44 44 44 / 40%);
    width: 70vw;
    height: 80vh;
    margin: 0 auto;
    padding: 80px 50px 50px;
    position: relative;
  }
  
  .containerGrid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
  }
  
  .aaa { grid-area: 1 / 1 / 2 / 3; }
  
  .bbb { grid-area: 1 / 2 / 2 / 3; }
  
  .displayTable{
    background-color: #E1E2E1;
    width: 100%;
    height: 100%;
}

.imgPet {
    object-fit: cover !important;
}

h2{
    font-size: 40px;
    font-weight: 600;
}