.containerImg {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../../../assets/perrosBanner.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom;
    background-size: cover;
    overflow-y: auto;
    min-height: 30vh;
}

.title {
    position: absolute;
    font-weight: 500;
    top: 4vh;
    color: white;
    font-size: 3vw;
    text-align: center;
    letter-spacing: 0.05em;
}

.subTitle {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    h1 {
        width: 100vw;
        font-weight: 450;
        font-size: 2.4rem;
    }
    margin-bottom: 2em
}


/* CSS */
.button-56 {
    margin-top: 20px;
    color: white;
    align-items: center;
    background-color: #455a64;
    border-radius: 8px;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    font-family: Inter,sans-serif;
    font-size: 16px;
    height: 48px;
    justify-content: center;
    line-height: 24px;
    max-width: 100%;
    padding: 0 25px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-56:after {
    background-color: rgba(17, 17, 17, 0.589);
    border-radius: 8px;
    content: "";
    display: block;
    height: 48px;
    left: 0;
    width: 100%;
    position: absolute;
    top: -2px;
    transform: translate(8px, 8px);
    transition: transform .2s ease-out;
    z-index: -1;
  }
  
  .button-56:hover:after {
    transform: translate(0, 0);
  }
  
  .button-56:active {
    background-color: #455a64;
    outline: 0;
  }
  
  .button-56:hover {
    outline: 0;
  }
  
  @media (min-width: 768px) {
    .button-56 {
      padding: 0 40px;
    }
  }


///@font-face {
///    font-family: BannerFont;
///    src: url(../../../assets/fonts/Open_Sans_Condensed/OpenSansCondensed-Bold.ttf);
///}
///
///@font-face {
///    font-family: HotelFont;
///    src: url(../../../assets/fonts/Alegreya/Alegreya-Bold.ttf);
///}