.containerImg {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../../../assets/perrosBanner.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom;
    background-size: cover;
    overflow-y: auto;
    min-height: 40vh;
}

.title {
    position: absolute;
    font-weight: 500;
    top: 4vh;
    color: white;
    font-size: 3vw;
    text-align: center;
    letter-spacing: 0.05em;
}


///@font-face {
///    font-family: BannerFont;
///    src: url(../../../assets/fonts/Open_Sans_Condensed/OpenSansCondensed-Bold.ttf);
///}
///
///@font-face {
///    font-family: HotelFont;
///    src: url(../../../assets/fonts/Alegreya/Alegreya-Bold.ttf);
///}