<mat-toolbar color="primary" class="side-menu">
    <mat-toolbar-row id="home" routerLink="/profile" routerLinkActive="active">
      <div>PH</div>
      <span class="titles">Home</span>
    </mat-toolbar-row>
  
    <mat-toolbar-row id="login" routerLink="/profile" routerLinkActive="active">
      <mat-icon class="account_circle" aria-hidden="false" aria-label="User Icon">account_circle</mat-icon>
      <span class="titles">Login</span>
    </mat-toolbar-row>
  
    <mat-toolbar-row id="dogs" routerLink="/profile" routerLinkActive="active"> 
      <mat-icon class="pets" aria-hidden="false" aria-label="pets">pets</mat-icon>
      <span class="titles">Dog care</span>
    </mat-toolbar-row>
  </mat-toolbar>